.app__aboutMePage{
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: start;
}

.app__aboutMe{
    width: 100%;
    height: 100%;
    /* align-items: center;justify-items: center; */
    display: flex;
    align-items: center;

    
}

.app__aboutMe section{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.app__aboutMe__description{
   
    line-height: 3rem;
    /* font-size: 2rem; */
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 0 4rem;
    display: flex;
    justify-items: center;
}

.app__aboutMe__description b{
    background-color: var(--color-text-yellow);
    color: black;
    padding: 10px;
    
}


.app__aboutMe__img{
   
    /* padding: 15rem; */
}
.cornerImageContainer{
    position: relative; 
    padding: 4rem;
    /* width: 50%; */
    width: clamp(40rem, 50%, 80%);
    /* width: 40rem; */
    margin: auto;
    

}
.cornerImageContainer img{
   width: 100%;
   border-radius: 3rem;
   /* margin: 5rem; */
   /* padding: 2rem; */

    
  
}


.imageCornerBorder{
    width: 10rem;
    height: 10rem;
    /* background-color: var(--color-text-yellow); */
    position: absolute;
   
    /* margin: 2rem 3rem; */
    /* border-radius: 3rem; */
    /* background-color: aqua; */
    /* z-index: -1; */
    overflow: hidden;
    

}

.imageCornerBorder::after{
    /* position: relative; */
    content: "";
    width: 20rem;
    height: 20rem;
    display: block;
    /* background-color: red; */
    border: 5rem double var(--color-text-yellow); 
    /* border-top: 2rem double var(--color-text-yellow); */
    /* border-left: 2rem double var(--color-text-yellow); */
    border-radius: 20%;
    object-fit: contain;   
    
}

.imageCornerBorder--topCorner{
    top: 0;
    left:0;
}

.imageCornerBorder--bottomCorner{
   right: 0;
   bottom: 0;
   /* transform: rotate(180deg); */
   rotate: 180deg;
}


@media screen and (max-width:1024px){
    .app__aboutMePage{
        scroll-snap-align:none;
    }
    .app__aboutMe{
        /* display: block; */
        flex-wrap: wrap-reverse;
        min-height: 100vh;
        
    }
    .app__aboutMe section{
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
    }
    .app__aboutMe__description{
        padding: 8rem;
    }
    .aboutMePage__header{
        display: none;
    }
}