.app__aboutMe{
    width: 100%;
    height: 100%;
    /* align-items: center;justify-items: center; */
    display: flex;
    align-items: center;

    
}

.app__aboutMe section{
    flex-basis:50%;
}

.app__aboutMe__description{
    flex-basis:40%;
}


.app__aboutMe__img{
    flex-basis:60%;
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;

    
}
.cornerImageContainer{
    width: auto;
    /* max-height: 80%; */
    /* height: 100%;
    width: 100%; */
    padding: 6rem;
    object-fit: contain;
}
.cornerImageContainer img{
    /* width: 100%; */
    width:100%;
    height: 100%;
   
    /* object-fit: cover; */
    border-radius: 3rem;
    display: block;

    /* border: 1rem double var(--color-text-yellow); */
    margin:auto;
  
}


.imageCornerBorder{
    width: 10rem;
    height: 10rem;
    /* background-color: var(--color-text-yellow); */
    position: absolute;
    top: 0rem;
    left:0rem;
    /* margin: 2rem 3rem; */
    /* border-radius: 3rem; */
    /* background-color: aqua; */
    /* z-index: -1; */
    overflow: hidden;
    

}

.imageCornerBorder::after{
    /* position: relative; */
    content: "";
    width: 20rem;
    height: 20rem;
    display: block;
    /* background-color: red; */
    border: 2rem double var(--color-text-yellow); 
    /* border-top: 2rem double var(--color-text-yellow); */
    /* border-left: 2rem double var(--color-text-yellow); */
    border-radius: 20%;
    object-fit: contain;

    

    
    
}