.app__header{
    
    /* min-height: 50vh; */
    width: 100%;
    min-height: 100vh;
    /* aspect-ratio: 16/9; */
    /* background-color: var(--color-section-yellow); */

    background-image: url('../../assets/waves/header-waves/0.svg');
    /* 4 */
    background-repeat: no-repeat;
    background-size: cover;

    /* border: 15px dashed plum; */

    display: flex;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;


}
.app__header__intro{
     /* display: flex; */
     
    width: 100%;
    height: 100%;

    display: grid;

     grid-template-columns: 1fr 1fr;
     grid-template-rows: 50vh 50vh;

     grid-template-areas: 
        "greet bigFilszu"
        "about bigFilszu"

     ;
      
     
    
}
.app__header__intro>div{
    /* width: 100%; */
    /* border: 5px solid red; */
}

.app__header__intro-bigFilszu{
    
    /* width: 100%; */
    flex:1;
    max-height: 100vh;

    grid-area: bigFilszu;

}
.app__header__intro-bigFilszu>div{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
    object-fit: cover;
    /* position:relative;
    top: 50px; */
    /* margin: 50px 0 0 0; */
    
}
.app__header__intro-bigFilszu>div>img{
    
    height: 100%;
    /* height:auto; */
    width: 100%;

    
    object-fit: cover;
    /* position:relative; */
    top: 50px;
    /* transform: translateY(50px);
     */
    
    
    
}

.app__header__intro__greeting{
    /* width: 100%; */
    flex:1;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content:center;
   padding: 40px;
   /* justify-content:space-around */

}
.app__header__intro__greeting-hello{
    grid-area: greet;
}
.app__header__intro__greeting-about{
    grid-area: about;
}


.app__header__intro__greeting h1{
    /* font-family: var(--font-fancy-title); */

    /* font-family: 'Monoton', cursive;
     */
     

    font-size: 5rem;
    text-align: center;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de; */

    /* text-shadow: 4px 4px 6px rgba(253, 245, 0, 1);
     */
 
     /* text-shadow:
          0 0 22px rgba(243, 255, 0, .7),
          0 0 52px rgba(243, 255, 0, .7),
          0 0 112px rgba(243, 255, 0, .7); */

    font-family: var(--font-fancy-title2);

    color: var(--color-text-yellow);
    /* font-family: 'Monoton', cursive; */
    letter-spacing:  4px;
    margin: 20px 0;


}

.app__header__intro__greeting h2{
    font-size: 4rem;
}
.app__header__intro__greeting h3{
    padding-top: 30px;
    font-size: 3rem;
    text-align: right;
}
.app__header__intro__greeting li,p{
    font-size: 2.5rem;
}




/* .app__header__wave{
    width: 100%;
    height: 100vh;
} */

.app__header__intro>div{
    /* width: 100%; */
    /* border: 5px solid red; */
}

@media screen and (max-width:1024px) {
    .app__header{
        scroll-snap-align:none;
    }
    .app__header__intro{   
       
         /* display: block;
          */

          grid-template-columns: 1fr;
          grid-template-rows: repeat(3,100vh
          );
        grid-template-areas: 
        "greet"
        "bigFilszu"
        "about"

     ;
         
   }
   .app__header__intro__greeting,.app__header__intro-bigFilszu{
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
   }
   .app__header__intro__greeting{
    background-image: url('../../assets/waves/header-waves/s2.svg');
    


    /* height: 100vh; */
   }
   .app__header__intro-bigFilszu{
    background-image: url('../../assets/waves/header-waves/f1.svg');
  
    /* height: 100vh; */
   }
}