/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

/* fancy */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* f2 */
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --font-fancy-title: 'Monoton', cursive;
  --font-fancy-title2: 'Slackey', cursive;
  --font-terminal:'Silkscreen', cursive;

  --color-bg: #040f1f;
  --color-text: #fff;
  --color-text-dark:hsl(215, 46%, 9%);
  /* --color-text-yellow: rgb(254, 249, 0); */
  --color-text-yellow: #f7e800;
  --color-section-yellow: rgb(255, 234, 0);
  --color-elements:rgb(255, 225, 0);
  --color-elements-dark: hsl(205, 46%, 33%);

  
  font-size: 75%;
  /* --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71; */
}
