/* import fonts */

:root {
  --font-family: 'Manrope', sans-serif;
  
  --color-bg: #040f1f;
  --color-text: #fff;
  --color-text-yellow: rgb(254, 249, 0);
  --color-section-yellow: rgb(255, 234, 0);
  /* --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71; */
}
